# P1 - VCCIO
NET "D<15>"       LOC = "P2";
NET "ROM_CE_n"    LOC = "P3";
NET "ROM_WE_n"    LOC = "P4";
NET "ROM_OE_n"    LOC = "P5";
NET "A<0>"        LOC = "P6";
NET "A<1>"        LOC = "P7";
# P8 - VCCINT
NET "A<2>"        LOC = "P9";
NET "A<3>"        LOC = "P10";
NET "A<4>"        LOC = "P11";
NET "A<5>"        LOC = "P12";
NET "A<6>"        LOC = "P13";
NET "A<7>"        LOC = "P14";
NET "A<8>"        LOC = "P15";
NET "A<9>"        LOC = "P16";
NET "A<10>"       LOC = "P17";
# P18 - GND
NET "A<11>"       LOC = "P19";
NET "A<12>"       LOC = "P20";
NET "A<13>"       LOC = "P21";
NET "A<14>"       LOC = "P22";
NET "A<15>"       LOC = "P23";
NET "A<16>"       LOC = "P24";
NET "A<17>"       LOC = "P25";
NET "A<18>"       LOC = "P26";
NET "A<19>"       LOC = "P27";
NET "A<20>"       LOC = "P28";
# P29 - GND
NET "CLK_50M"     LOC = "P30";
NET "CLK_50M" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50%;
NET "SCSI_AS_n"   LOC = "P31";
NET "SCSI_DS_n"   LOC = "P32";
NET "SPI_CLK"     LOC = "P33";
NET "SPI_MOSI"    LOC = "P34";
NET "SPI_MISO"    LOC = "P35";
# P36 - GND
# P37 - VCCIO
NET "Z_7M"        LOC = "P38";
NET "Z_7M" TNM_NET = "Z_7M";
TIMESPEC "TS_Z_7M" = PERIOD "Z_7M" 139.68 ns HIGH 50%;
NET "SPI_CS_n"    LOC = "P39";
NET "DOE"         LOC = "P40";
NET "READ"        LOC = "P41";
# P42 - VCCINT
NET "SIZ<0>"      LOC = "P43";
NET "SIZ<1>"      LOC = "P44";
# P45 - NC
# P46 - NC
# P47 - GND
NET "MTCR_n"      LOC = "P48";
NET "SID_n"       LOC = "P49";
NET "DIP_EXT_TERM" LOC = "P50";
# P51 - NC
# P52 - NC
# P53 - NC
# P54 - NC
# P55 - VCCIO
# P56 - NC
# P57 - NC
# P58 - NC
NET "A<23>"       LOC = "P59";
NET "A<24>"       LOC = "P60";
NET "A<25>"       LOC = "P61";
# P62 - GND
# P63 - TDI
NET "A<26>"       LOC = "P64";
# P65 - TMS
NET "A<27>"       LOC = "P66";
# P67 - TCK
NET "A<28>"       LOC = "P68";
NET "A<29>"       LOC = "P69";
NET "A<30>"       LOC = "P70";
NET "A<31>"       LOC = "P71";
# P72 - GND
# P73 - VCCIO
NET "FCS_n"       LOC = "P74";
NET "FC<0>"       LOC = "P75";
NET "FC<1>"       LOC = "P76";
NET "FC<2>"       LOC = "P77";
NET "DS_n<0>"     LOC = "P78";
NET "DS_n<1>"     LOC = "P79";
NET "DS_n<2>"     LOC = "P80";
NET "DS_n<3>"     LOC = "P81";
NET "D<14>"       LOC = "P82";
NET "SBR_n"       LOC = "P83";
# P84 - VCCINT
NET "SBG_n"       LOC = "P85";
NET "CBACK_n"     LOC = "P86";
NET "CBREQ_n"     LOC = "P87";
NET "BERR_n"      LOC = "P88";
# P89 - GND
# P90 - GND
NET "CLK"         LOC = "P91";
NET "BMASTER"     LOC = "P92";
NET "DBLT"        LOC = "P93";
NET "DBOE_n"      LOC = "P94";
NET "ABOEL_n"     LOC = "P95";
NET "ABOEH_n"     LOC = "P96";
NET "D2Z_n"       LOC = "P97";
NET "Z2D_n"       LOC = "P98";
# P99 - GND
NET "MASTER_n"    LOC = "P100";
NET "SLACK_n"     LOC = "P101";
NET "D<13>"       LOC = "P102";
NET "SINT_n"      LOC = "P103";
NET "SCSI_SREG_n" LOC = "P104";
NET "SCSI_STERM_n" LOC = "P105";
NET "INT2_n"      LOC = "P106";
NET "D<12>"       LOC = "P107";
# P108 - GND
# P109 - VCCIO
NET "BGn"         LOC = "P110";
NET "BRn"         LOC = "P111";
NET "Z_FCS"       LOC = "P112";
NET "Z_LOCK"      LOC = "P113";
# P114 - GND
NET "DTACK_n"     LOC = "P115";
NET "MTACK_n"     LOC = "P116";
NET "CINH_n"      LOC = "P117";
NET "SENSEZ3_n"   LOC = "P118";
NET "CFGIN_n"     LOC = "P119";
NET "CFGOUT_n"    LOC = "P120";
NET "SLAVE_n"     LOC = "P121";
# P122 - TDO
# P123 - GND
NET "D<0>"        LOC = "P124";
NET "D<1>"        LOC = "P125";
NET "D<2>"        LOC = "P126";
# P127 - VCCIO
NET "D<3>"        LOC = "P128";
NET "D<4>"        LOC = "P129";
NET "D<5>"        LOC = "P130";
NET "D<6>"        LOC = "P131";
NET "D<7>"        LOC = "P132";
NET "D<24>"       LOC = "P133";
NET "D<25>"       LOC = "P134";
NET "D<26>"       LOC = "P135";
NET "D<27>"       LOC = "P136";
NET "D<28>"       LOC = "P137";
NET "D<29>"       LOC = "P138";
NET "D<30>"       LOC = "P139";
NET "D<31>"       LOC = "P140";
# P141 - VCCINT
# P142 - NC
NET "IORST_n"     LOC = "P143";
NET "IORST_n" TIG;  # Ignore timing on async reset
# P144 - GND
